<div class="container">
    <form method="get" style="">
        <div class="form_item"><img src="../assets/images/الكلية.jpg"></div>
        <div class="form_item">
            <h1>Login</h1>
        </div>
        <div class="form_item">
            <label for="email">Email</label>
            <input id="email" type="email" placeholder="enter your email">
        </div>
        <div class="form_item">
            <label for="email">Password</label>
            <input type="password" placeholder="password">
        </div>
        <button type="button" class="btn btn-primary">login</button>
    </form>
</div>
